/* This sheet is used to style your HTML resume page */

.heading {
	margin:auto;
	text-align: left;
}

body {
	background-color: lightblue;
}

h1 {
	color: Black;
}

h2 {
	background-color:grey
}


a:hover {
	background-color: #ddd;
	color: black;
	text-align: left;
}